<h2>FIXED ACTIVE Users found - {{users.length}}</h2>


<nav>
  <a routerLink ="/fixed">Show All Fixed Users</a><span> | </span>
</nav>
<router-outlet></router-outlet>


<input type="text" id="fixedActive" onkeyup="myEnv()" placeholder="Search for environment.." type="hidden">
<table id="myFixedActive" border="1" sortable>
    <thead>
      <tr class="header">
      <td><b>Customer Email</b></td>
      <td><b>Password</b></td>
      <td><b>Active Service</b></td>
      <td><b>MobileUser</b></td>
      <td><b>FixedUser</b></td>
      <td><b>UtilBillID</b></td>
      <td><b>Environment</b></td>
      <!--<td><b>Used</b></td>-->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td>{{u.customerEmail}}</td>
        <td>{{u.password}}</td>
        <td>{{u.active}}</td>
        <td>{{u.mobileUser}}</td>
        <td>{{u.fixedUser}}</td>
        <td>{{u.utilBillID}}</td>
        <td>{{u.environment}}</td>
        <!--<td><input type="checkbox" id="used" ="30"></td>-->
      </tr>
    </tbody>
  </table>
