* {
  box-sizing: border-box;
}

#address {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 25%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myAddress {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  background-color: lightcyan;
}

#myAddress th, #myAddress td {
  text-align: left;
  padding: 12px;
}

#myAddress tr {
  border-bottom: 1px solid lightblue;
}

#myAddress tr.header {
  background-color: cadetblue;
}
#myAddress tr:hover {
  background-color: grey;
}