<h2>Address found - {{address.length}}</h2>
<h3>This data will be refreshed everyday at 1PM to maintain data accuracy.</h3>
<table id="myAddress" border="1" sortable>
    <thead>
      <tr class="header">
      <td><b>ADDRESS</b></td>
      <td><b>SERVICE_ADDRESS_ID</b></td>
      <td><b>BROADBAND_TECH_TYPE</b></td>
      <td><b>SERVICE_CLASS</b></td>
      <td><b>INPLACE_TYPE</b></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of address">
        <td>{{u.ADDRESS}}</td>
        <td>{{u.SERVICE_ADDRESS_ID}}</td>
        <td>{{u.BROADBAND_TECH_TYPE}}</td>
        <td>{{u.SERVICE_CLASS}}</td>
        <td>{{u.INPLACE_TYPE}}</td>
        <!--<td><input type="checkbox" id="used" ="30"></td>-->
      </tr>
    </tbody>
  </table>
