<h2>Test Sims: found - {{sims.length}} - Refresh page for other's update to sim if session is idle for long time.</h2>
<p> RESERVED for octane_status does not mean RESERVED by some other user. Please ignore </p>

<nav>
  <a routerLink ="/availableSim">Show Unused Sims</a><span> | </span>
</nav>
<router-outlet></router-outlet>

<input type="text" id="sim" onkeyup="myEnv()" placeholder="Search for sims.." type="hidden">
<table id="mySim" border="1" sortable>
    <thead>
      <tr class="header">
      <td><b>SIM NUMBER</b></td>
      <td><b>OCTANE STATUS</b></td>
      <td><b>LAST UPDATED ON</b></td>
      <td><b>TEST SIM USED?</b></td>
      <!--<td><b>Comment</b></td>-->
      <td><b>Action</b></td>
      <!--<td><b>Used</b></td>-->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of sims">
        <td>{{s.simNo}}</td>
        <td>{{s.octane_status}}</td>
        <td>{{s.updatedTime}}</td>
        <td><b>{{s.used}}</b></td> 
        <!--<td><b>{{s.used}} - {{s.comment}}</b></td> -->
        <!--<td><textarea  wrap="hard" maxlength="60" rows="3" cols="20" id="comment" name="comment" placeholder="add username/password or small note..."></textarea></td>-->
        <td><button id="{{s.simNo}}" [hidden]="notUsed(s)" (click)="editSim(s)">Mark as Used</button>
      </tr>
    </tbody>
  </table>
