* {
  box-sizing: border-box;
}

#sim {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 25%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#mySim {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  background-color: lightcyan;
}

#mySim th, #mySim td {
  text-align: left;
  padding: 12px;
}

#mySim tr {
  border-bottom: 1px solid lightblue;
}

#mySim tr.header {
  background-color: cadetblue;
}
#mySim tr:hover {
  background-color: grey;
}
textarea{
  height: 40px;
  width: 340px;
  word-wrap: break-word;
}
a:link, a:visited {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}