
<dx-chart
id="chart"
title="SERVICE OR API STATUS"
subtitle="As of Today"
[dataSource]="dataSource">
<dxi-series valueField="apiSuccess" name="PASS" color="green"></dxi-series>
<dxi-series valueField="apiErrored" name="FAIL" color="red"></dxi-series>
<dxi-value-axis position="right">
    <dxo-title text="count"></dxo-title>
</dxi-value-axis>
<dxo-common-series-settings
    argumentField="environment"
    type="stackedBar">
</dxo-common-series-settings>
<dxo-legend
    verticalAlignment="bottom"
    horizontalAlignment="center"
    itemTextPosition="top">
</dxo-legend>
<dxo-export [enabled]="true"></dxo-export>
<dxo-tooltip
    [enabled]="true"
    location="edge"
    [customizeTooltip]="customizeTooltip">
</dxo-tooltip>
</dx-chart>
<!-- 
<p [data]="dataSource">
  {{data}}  
</p> -->

<h3>SERVICES OR APIs COUNT</h3>

<table id="mymob" border="1" >
  <thead>
    <tr class="header">
    <td><b>ENVIRONMENT</b></td>
    <td><b>TOTAL API</b></td>
    <td><b>API PASSED</b></td>
    <td><b>API FAILED</b></td>
    <td><b>RUN DATE</b></td>
    <td><b>LOGINS USED</b></td>
  </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let u of dataSource">
      <td>{{u.environment}}</td>
      <td>{{u.apiTotal}}</td>
      <td>{{u.apiSuccess}}</td>
      <td>
        <nav>
          <a routerLink="/errorApi">{{u.apiErrored}}</a>
        </nav>
      </td>
      <td>{{u.updatedTime}}</td>
      <td> 
        <div>
          {{u.customerEmail}} <br>
          {{u.password}}
        </div> 
    </td>

    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>