<h2>FIXED Users found - {{users.length}}</h2>


<nav>
  <a routerLink ="/fixed-active">Show Active Only Users</a><span> | </span>
</nav>
<router-outlet></router-outlet>

<input type="text" id="fixed" onkeyup="myEnv()" placeholder="Search for environment.." type="hidden">
<div id="fixedUser" class="table-responsive">
  <table id="myFixed"  border="1">
    <thead>
      <tr class="header">
      <td><b>Customer Email</b></td>
      <td><b>Password</b></td>
      <td><b>Active Service</b></td>
      <td><b>MobileUser</b></td>
      <td><b>FixedUser</b></td>
      <td><b>UtilBillID</b></td>
      <td><b>Connection type</b></td>
      <td><b>Service Class</b></td>
      <td><b>Customer Fixed Plan</b></td>
      <td><b>Environment</b></td>
      <td><b>Payment Method</b></td>
      <td><b>Created Time</b></td>
      <td><b>Comments</b></td>
      <td><b>Add Note/Comment</b></td>
      </tr>
    </thead>
    <!-- <tbody *ngFor="let u of users"> -->
    <tbody>
      <tr *ngFor="let u of users">
        <td>{{ u.customerEmail }}</td>
        <td>{{u.password}}</td>
        <td>{{u.active}}</td>
        <td>{{u.mobileUser}}</td>
        <td>{{u.fixedUser}}</td>
        <td>{{u.utilBillID}}</td>
        <td>{{u.connectionType}}</td>
        <td>{{u.SERVICE_CLASS}}</td>
        <td>{{u.dataPlan}}</td>
        <td>{{u.environment}}</td>
        <td>{{u.paymentType}}</td>
        <td>{{u.createdTime}}</td>
        <td>{{u.comment}}</td>
        <td>
          <div>
          <textarea #comment type="text" id="u.customerEmail" placeholder="Add small note for reference.."></textarea>
          <!--<input #com/>-->
          <button id="saveNote" (click) ="saveUser(u,comment.value); comment.value=''"> Add Notes </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
