* {
    box-sizing: border-box;
  }
  a:link, a:visited {
      background-color: cornflowerblue;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-weight: bold;
  }
  
  
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  table th, table td {
    text-align: left;
    padding: 2px;
  }
  
  table tr {
    border-bottom: 1px solid lightblue;
    
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  table tr.header {
    background-color: cadetblue;
  }
  
  table tr:hover{
    background-color: grey;
  }