* {
  box-sizing: border-box;
}
a:link, a:visited {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

#mixed {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 25%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myMixed {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  background-color: lightcyan;
}

#myMixed th, #myMixed td {
  text-align: left;
  padding: 12px;
}

#myMixed tr {
  border-bottom: 1px solid lightblue;
}

#myMixed tr.header {
  background-color: cadetblue;
}

#myMixed tr:hover{
  background-color: grey;
}