





  
<!--<nav>-->
  <!--<a routerLink="/allUsers">All Users</a><span> | </span>
  <a routerLink="/address">Addresses</a><span> with techtypes | </span>-->
  <!--<a routerLink="/dashboard">Dashboard</a>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->
<app-dashboard></app-dashboard>
  <!--<app-all-users></app-all-users>-->

