



<app-environment-api></app-environment-api>

<h3> Below are failed API </h3>
<table id="mymob" border="1" sortable>
    <thead>
      <tr class="header">
      <td><b>API NAME</b></td>
      <td><b>SERVICE URL</b></td>
      <td><b>RESPONSE STATUS</b></td>
      <td><b>RESPONSE TIME(seconds)</b></td>
      <!-- <td><b>ERROR MESSAGE</b></td> -->
    </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let u of api">
        <td>{{u.serviceName}}</td>
        <td>{{u.serviceURL}}</td>
        <td>{{u.responseStatus}}</td>
        <td>{{u.responseTime}}</td>
         <!-- <td> -->
          <!-- {{u.responseSample.errors[0].code}}<br> -->
            <!-- {{u.responseSample.errors[0].message}} -->
          <!-- </td> -->
      </tr>
    </tbody>
  </table>
