<h2>Test Sims: found - {{sims.length}}</h2>

<nav>
  <a routerLink ="/testSim">Show All Sims</a><span> | </span>
</nav>
<router-outlet></router-outlet>

<input type="text" id="sim" onkeyup="myEnv()" placeholder="Search for sims.." type="hidden">
<table id="mySim" border="1" sortable>
    <thead>
      <tr class="header">
      <td><b>SIM NUMBER</b></td>
      <td><b>OCTANE STATUS</b></td>
      <td><b>LAST UPDATED ON</b></td>
      <td><b>TEST SIM USED?</b></td>
      <td><b>Action</b></td>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let s of sims">
        <td>{{s.simNo}}</td>
        <td>{{s.octane_status}}</td>
        <td>{{s.updatedTime}}</td>
        <td><b>{{s.used}}</b></td> 
        <td><button id="{{s.simNo}}" [hidden]="notUsed(s)" (click)="editSim(s)">Mark as Used</button>
      </tr>
    </tbody>
  </table>
