* {
  box-sizing: border-box;
}
a:link, a:visited {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

#fixed {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}


table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

table th, table td {
  text-align: left;
  padding: 2px;
}

table tr {
  border-bottom: 1px solid lightblue;
  
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr.header {
  background-color: cadetblue;
}

table tr:hover{
  background-color: grey;
}