
<nav>
  <div>
  <h1><i>*****BETA*****</i></h1>
  <a routerLink ="/home">Home</a><span> | </span>
  <a routerLink="/fixed">BroadBand Users</a><span> | </span>
  <!--<a routerLink="/allUsers">All Users</a><span> | </span>-->
  <a routerLink="/mobile">Mobile Users</a><span> | </span>
  <a routerLink="/mixed">Mixed Users</a><span> | </span>
  <a routerLink="/address">Addresses with techtypes</a><span>  | </span>
  <a routerLink="/serviceMonitor">API Monitor</a><span>  | </span>
  <a routerLink="/testSim">Sim Data for Testing</a><span>  | </span>
  <img src="../assets/belong.png" alt="belongLogo" align="right" /></div>
  <p> Please contact pradeep ramidi(pradeep.ramidi@team.telstra.com) for data or page issues <br></p>
  
</nav>
<router-outlet></router-outlet>