a:link, a:visited {
    background-color: navy;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

a:hover, a:active {
    background-color: green;
    color: white;
}

img{
    align-content: right;
}
h1{
    align-content: center
}